/*! Place your custom styles here */
body {
  background: #000;
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - 110px - 158px);
}

#menu2 {
  background-color: #000;
}

.home #menu2 {
  display: none;
}

.home #menu2.bar.pos-fixed {
  display: block;
}

.bar {
  padding: 0.92857143em 0;
}

.bar .logo {
  max-height: 6em;
  top: 0;
}

.bar-2 .logo {
  position: static;
  transform: none;
}

.bar .menu-horizontal {
  top: 0;
}

@media all and (max-width: 767px) {
  .bar .logo {
    max-height: 3em;
  }
}

@media all and (min-width: 768px) {
  .home #menu1 {
    display: none;
  }
}

@media all and (min-width: 990px) {
  .menu-horizontal li:not(:last-child) {
    margin-right: 3.71428572em;
  }
}

/* Typography */
a:hover {
  text-decoration: none;
}

hr {
  border-color: rgba(223, 144, 43, 0.4);
}

/* Stack Links */
.imagebg:not(.image--light) a {
  color: #fdf9e3;
}

.imagebg:not(.image--light) a:hover {
  color: #a97c50;
}

/* Images */
body,
article .article__body p,
article .article__body ul,
.imagebg:not(.image--light) h2,
.imagebg:not(.image--light) h3,
.imagebg:not(.image--light) h4,
.imagebg:not(.image--light) h5,
.imagebg:not(.image--light) h6,
.imagebg:not(.image--light) p,
.imagebg:not(.image--light) ul,
.imagebg:not(.image--light) blockquote,
.lead {
  color: #fdf9e3;
}

.imagebg:not(.image--light) h1 {
  color: #df902b;
}

/* Colors  */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.menu-horizontal > li > a, .menu-horizontal > li > span,
.menu-horizontal > li > .modal-instance > .modal-trigger {
  color: #df902b;
}

a {
  color: #fdf9e3;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}

a:hover {
  color: #794809;
}

.menu-horizontal > li:not(:hover) > a, .menu-horizontal > li:not(:hover) > span,
.menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger {
  opacity: 1;
}

.lead {
  font-weight: 400;
}

.bg--dark {
  background: #3c2415;
}

/* Slider */
.slider.boxed--border .slides li {
  border: none;
}

/* Menus */
.menu-horizontal > li > a:hover,
.menu-horizontal > li > span:hover,
.menu-horizontal > li > .modal-instance > .modal-trigger:hover {
  color: #8a540d;
}

/* Buttons */
.btn--primary, .btn--primary:visited {
  background: #df902b;
  border-color: #df902b;
}

.btn--primary:hover {
  background: #8a540d;
  border-color: #8a540d;
}

/* Boxes */
.boxed.boxed--border {
  border: 0.5px solid rgba(223, 144, 43, 0.4);
}

/* Cards */
.card-2 .card__body,
.card-2 .card__bottom {
  border: 1px solid rgba(223, 144, 43, 0.4);
}

.gallery .card-2 .card__body {
  border-top: none;
}

/* Stack Features Small */
.feature__body.boxed.boxed--border {
  border-top: none;
}

/* Stack Bars */
.menu-horizontal > li > a,
.menu-horizontal > li > .modal-instance > a {
  font-weight: 600;
}

/*! -- Sliders Flickity -- */
@media all and (max-width: 767px) {
  section.slider[class*='height-'] .slides .flickity-slider > li {
    height: 100vh;
  }
}

/*! -- Stack Covers -- */
.home-slider-text {
  top: 50%;
  transform: translateY(-50%);
}

img.cover-logo {
  width: 50%;
}

@media all and (max-width: 767px) {
  .home-slider-text {
    top: 40%;
    transform: translateY(-40%);
  }

  img.cover-logo {
    margin-bottom: 4.1785714335em;
    width: 75%;
  }

  .cover.fullscreen-on-mobile {
    min-height: 100vh;
  }
}

/*! -- Stack Masonry -- */
.masonry__item:not(:empty) {
  margin-bottom: 40px;
}

/**! 34. Bars **/
@media all and (max-width: 767px) {
  .bar__module {
    margin-bottom: 0;
  }
}
