/*! Place your custom styles here */

body {
  background: #000;
}

main {
  min-height: calc(100vh - 110px - 158px);
}

.home-slider-text {
  top: 50%;
  transform: translateY(-50%);
}

#menu2 {
  background-color: #000;
}

.home #menu2 {
  display: none;
}

.home #menu2.bar.pos-fixed {
  display: block;
}

.bar {
  padding: 0.92857143em 0;
}

.bar .logo {
  max-height: 6em;
  top: 0;
}

.bar-2 .logo {
  position: static;
  transform: none;
}

.bar .menu-horizontal {
  top: 0;
}

@media all and (min-width: 990px) {
  .menu-horizontal li:not(:last-child) {
    margin-right: 3.71428572em;
  }
}

/* Typography */

a:hover {
  text-decoration: none;
}

.imagebg:not(.image--light) a:hover {
  color: #a97c50;
}

/* Colors  */

a {
  color: #a97c50;
}

a:hover {
  color: #8e6642;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.menu-horizontal > li > a, .menu-horizontal > li > span,
.menu-horizontal > li > .modal-instance > .modal-trigger {
  color: #a97c50;
}

.menu-horizontal > li:not(:hover) > a, .menu-horizontal > li:not(:hover) > span,
.menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger {
  opacity: 1;
}

.lead {
  color: #fffdf1;
  font-weight: 300;
}

.bg--dark {
  background: #3c2415;
}

.btn--primary, .btn--primary:visited {
  background: #a97c50;
  border-color: #a97c50;
}

.btn--primary:hover {
  background: #8e6642;
  border-color: #8e6642;
}
