---
title: Home
layout: default
slider:
  images:
  - "/v1542456042/stelios-kazazis-21131-unsplash.jpg"
  - "/v1542456041/ricky-turner-585075-unsplash.jpg"
  - "/v1542456041/photo-1476589143317-647df3b59c32.jpg"
about_us:
  title: ''
  description: Thumbprints is led by people who are passionate about hand made art,
    which is sourced ethically and we source it directly from where it is made by
    personally traveling to the sites. We aspire to be the most reliable seller of
    hand made art work sourced from around the world.
  image: "/v1542456200/angelina-litvin-37702-unsplash.jpg"
blog_featured_articles:
  title: Blogs and Our Stories
  description: Read our Blogs where we share our experiences of our travels, art and
    many more
featured_artifacts:
  title: ''
  description: ''
  section_image:
    image: "/v1542456196/gallery-cover-image.jpg"
    title: Please visit our Gallery to view more artifacts and choose what you like
    description: ''
  artifacts:
  - _artifacts/antler-deer-clouple.md
  - _artifacts/queen.md
  - _artifacts/musicians.md
  - _artifacts/knock-knock.md

---
<section class="cover height-100 imagebg text-center slider slider--ken-burns">
    <ul class="slides">
        {% for image in page.slider.images %}
          <li class="imagebg" data-overlay="4">
              <div class="background-image-holder background--top">
                  <img alt="background" src="{{ site.cloudinary_url }}{{ image }}" />
              </div>
          </li>
        {% endfor %}
    </ul>
    <div class="container pos-absolute home-slider-text">
        <div class="row">
            <div class="col-md-8">
                <img alt="{{ site.title }} logo" class="cover-logo mb-md-0" src="{{ site.logo_light }}" />
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-11 col-md-6">
              <div class="row">
                <div class="col">
                    <a href="/about">About</a>
                </div>
                <div class="col">
                    <a href="/gallery">Gallery</a>
                </div>
                <div class="col">
                    <a href="/blog">Blog</a>
                </div>
                <div class="col">
                    <a href="/contact">Contact</a>
                </div>
              </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="fullscreen-on-mobile cover height-100 imagebg parallax" data-overlay="4">
    <div class="background-image-holder">
        <img alt="background" src="{{ site.cloudinary_url }}{{ page.about_us.image }}" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
          <div class="col-11 col-md-6 col-lg-5 mt-0">
              <h1>
                  {{ page.about_us.title }}
              </h1>
              <p class="lead">
                  {{ page.about_us.description }}
              </p>
              <a class="btn btn--primary type--uppercase" href="/about/">
                  <span class="btn__text">
                      About Us
                  </span>
              </a>
          </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="space--sm  text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                {% unless page.featured_artifacts.title == '' %}
                    <h2>{{ page.featured_artifacts.title }}</h2>
                {% endunless %}
                {% unless page.featured_artifacts.description == '' %}
                    <p class="lead">
                        {{ page.featured_artifacts.description }}
                    </p>
                {% endunless %}
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="masonry masonry-blog-magazine">
                    <div class="row">
                        <div class="col-md-8 col-12">
                            <div class="boxed boxed--lg imagebg masonry__promo" data-overlay="2">
                                <div class="background-image-holder">
                                    <img alt="background" src="{{ site.cloudinary_url }}{{ page.featured_artifacts.section_image.image }}" />
                                </div>
                                <div class="pos-vertical-center">
                                    <h3>{{ page.featured_artifacts.section_image.title }}</h3>
                                    <p>{{ page.featured_artifacts.section_image.description }}</p>
                                    <a class="btn btn--primary type--uppercase" href="/gallery/">
                                        <span class="btn__text">
                                            Gallery
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--end item-->
                        {% for artifact_path in page.featured_artifacts.artifacts %}
                            {% assign artifact = site.artifacts | where: "path", artifact_path | first %}
                            <div class="mb-3 col-md-4 col-12">
                                <a class="block" href="{{ artifact.url }}">
                                    <article class="imagebg border--round" data-scrim-bottom="8">
                                        <div class="background-image-holder">
                                            <img alt="background" src="{{ site.cloudinary_url }}/w_700{{ artifact.images[0] }}" />
                                        </div>
                                        <div class="article__title">
                                            <h4>{{ artifact.title }}</h4>
                                        </div>
                                    </article>
                                </a>
                            </div>
                            <!--end item-->
                        {% endfor %}
                    </div>
                    <!--end masonry container-->
                </div>
                <!--end masonry-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="space--sm">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h2>{{ page.blog_featured_articles.title }}</h2>
                <p class="lead">
                    {{ page.blog_featured_articles.description }}
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="space--xxs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="masonry">
                    <div class="masonry__container row">
                        <div class="masonry__item col-lg-4 col-md-6"></div>
                        {% for post in site.posts %}
                            <div class="masonry__item col-lg-4 col-md-6">
                                <article class="feature feature-1">
                                    <a href="{{ post.url }}" class="block">
                                        <img alt="Image" src="{{ site.cloudinary_url }}/w_700{{ post.image }}" />
                                    </a>
                                    <div class="feature__body boxed boxed--border bg-black">
                                        <span>{{ post.date | date_to_string }}</span>
                                        <h5>{{ post.title }}</h5>
                                        <a href="{{ post.url }}">
                                            Read More
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <!--end item-->
                        {% endfor %}
                    </div>
                    <!--end of masonry container-->
                </div>
                <!--end masonry-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>