---
title: Home
layout: default
slider:
  images:
  - "/uploads/stelios-kazazis-21131-unsplash.jpg"
  - "/uploads/ricky-turner-585075-unsplash.jpg"
  - "/uploads/photo-1476589143317-647df3b59c32.jpg"
about_us:
  title: ''
  description: ''
  image: "/uploads/angelina-litvin-37702-unsplash.jpg"
blog_featured_articles:
  title: ''
  description: ''
featured_artifacts:
- _artifacts/antler-deer-clouple.md
- _artifacts/queen.md
- _artifacts/musicians.md
- _artifacts/knock-knock.md

---
<section class="cover height-100 imagebg text-center slider slider--ken-burns">
    <ul class="slides">
        {% for image in page.slider.images %}
          <li class="imagebg" data-overlay="4">
              <div class="background-image-holder background--top">
                  <img alt="background" src="{{ image }}" />
              </div>
          </li>
        {% endfor %}
    </ul>
    <div class="container pos-absolute home-slider-text">
        <div class="row">
            <div class="col-md-8">
                <img alt="{{ site.title }} logo" class="unmarg--bottom w-50" src="{{ site.logo_light }}" />
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col">
                    <a href="/about">About</a>
                </div>
                <div class="col">
                    <a href="#">Gallery</a>
                </div>
                <div class="col">
                    <a href="#">Contact</a>
                </div>
                <div class="col">
                    <a href="/blog">Blog</a>
                </div>
              </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="cover height-100 imagebg parallax" data-overlay="4">
    <div class="background-image-holder">
        <img alt="background" src="{{ page.about_us.image }}" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
          <div class="col-md-6 col-lg-5 mt-0">
              <h1>
                  Streamline your workflow with Stack
              </h1>
              <p class="lead">
                  Build lean, beautiful websites with a clean and contemporary look to suit a range of purposes
              </p>
              <a class="btn btn--primary type--uppercase" href="#">
                  <span class="btn__text">
                      Try Builder Live
                  </span>
              </a>
          </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="space--sm  text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <h2>All the tools you'll need</h2>
                <p class="lead">
                    Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="masonry masonry-blog-magazine">
                    <div class="row">
                        <div class="col-md-8 col-12">
                            <div class="boxed boxed--lg boxed--border bg--primary masonry__promo">
                                <div class="pos-vertical-center">
                                    <h3>Valuable business insight delivered direct to your inbox</h3>
                                    <p>Join over 20,000 other designers</p>
                                </div>
                            </div>
                        </div>
                        <!--end item-->
                        {% for artifact_path in page.featured_artifacts %}
                            {% assign artifact = site.artifacts | where: "path", artifact_path | first %}
                            <div class="col-md-4 col-12">
                                <a class="block" href="{{ artifact.url }}">
                                    <article class="imagebg border--round" data-scrim-bottom="8">
                                        <div class="background-image-holder">
                                            <img alt="background" src="{{ artifact.images[0] }}" />
                                        </div>
                                        <div class="article__title">
                                            <h4>{{ artifact.title }}</h4>
                                        </div>
                                    </article>
                                </a>
                            </div>
                            <!--end item-->
                        {% endfor %}
                    </div>
                    <!--end masonry container-->
                </div>
                <!--end masonry-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="space--sm">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h2>All the tools you'll need</h2>
                <p class="lead">
                    Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="space--sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="masonry">
                    <div class="masonry__container row">
                        <div class="masonry__item col-lg-4 col-md-6"></div>
                        {% for post in site.posts %}
                            <div class="masonry__item col-lg-4 col-md-6" data-masonry-filter="Marketing">
                                <article class="feature feature-1">
                                    <a href="{{ post.url }}" class="block">
                                        <img alt="Image" src="{{ post.image }}" />
                                    </a>
                                    <div class="feature__body boxed boxed--border bg-black">
                                        <span>{{ post.date | date_to_string }}</span>
                                        <h5>{{ post.title }}</h5>
                                        <a href="{{ post.url }}">
                                            Read More
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <!--end item-->
                        {% endfor %}
                    </div>
                    <!--end of masonry container-->
                </div>
                <!--end masonry-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
