<footer class="space--xxs footer-1 text-center-xs ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
              <span class="type--fine-print">&copy;
                  <span class="update-year"></span> {{ site.title }}</span>
            </div>
            <div class="col-md-6 text-center-xs text-md-right">
                <ul class="social-list list-inline list--hover">
                    <li>
                        <a href="{{ site.social.links.first }}" target="_blank">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.social.links.last }}" target="_blank">
                            <i class="socicon socicon-instagram icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
