<header>
  <div class="bar bar--sm visible-xs" data-scroll-class="300px:pos-fixed">
      <div class="container">
          <div class="row">
              <div class="col-3 col-md-2">
                  <a href="/">
                      <img class="logo logo-dark" alt="logo" src="/uploads/logo-dark.png" />
                      <img class="logo logo-light" alt="logo" src="/uploads/logo-light.png" />
                  </a>
              </div>
              <div class="col-9 col-md-10 text-right">
                  <a href="#" class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm">
                      <i class="icon icon--sm stack-interface stack-menu"></i>
                  </a>
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </div>
  <!--end bar-->
  <nav id="menu2" class="bar bar-2 hidden-xs" data-scroll-class="100px:pos-fixed">
      <div class="container">
          <div class="row">
              <div class="col-lg-2 text-center text-left-sm hidden-xs order-lg-2">
                  <div class="bar__module">
                      <a href="/" class="d-block">
                          <img class="logo logo-dark" alt="logo" src="/uploads/logo-dark.png" />
                          <img class="logo logo-light" alt="logo" src="/uploads/logo-light.png" />
                      </a>
                  </div>
                  <!--end module-->
              </div>
              <div class="col-lg-5 order-lg-1 d-flex align-items-center">
                  <div class="bar__module mx-auto">
                      <ul class="menu-horizontal text-left">
                          <li>
                              <a href="/about">About</a>
                          </li>
                          <li>
                              <a href="">Gallery</a>
                          </li>
                      </ul>
                  </div>
                  <!--end module-->
              </div>
              <div class="col-lg-5 order-lg-3 d-flex align-items-center">
                  <div class="bar__module mx-auto">
                    <ul class="menu-horizontal text-left">
                        <li>
                            <a href="">Contact</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                    </ul>
                  </div>
                  <!--end module-->
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </nav>
  <!--end bar-->
</header>
