<div class="nav-container ">
    <div class="bar bar--sm bar--mobile-sticky visible-xs" data-scroll-class="100px:pos-fixed">
        <div class="container">
            <div class="row">
                <div class="col-3 col-md-2">
                    <a href="/">
                        <img class="logo logo-dark" alt="logo" src="/assets/images/logo-dark-mobile.png" />
                        <img class="logo logo-light" alt="logo" src="/assets/images/logo-dark-mobile.png" />
                    </a>
                </div>
                <div class="col-9 col-md-10 text-right d-flex justify-content-end align-items-center">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <!--end bar-->
    <nav id="menu1" class="bar bar--sm bar-1 hidden-xs {% if page.url == '/' %}bar--absolute bar--transparent{% endif %}" data-scroll-class="200px:pos-fixed">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-2 hidden-xs">
                    <div class="bar__module">
                        <a href="/">
                            <img class="logo logo-dark" alt="logo" src="/assets/images/logo-dark-mobile.png" />
                            <img class="logo logo-light" alt="logo" src="/assets/images/logo-dark-mobile.png" />
                        </a>
                    </div>
                    <!--end module-->
                </div>
                <div class="col-lg-11 col-md-10 text-right text-left-xs text-left-sm d-flex justify-content-end align-items-center">
                    <div class="bar__module">
                        <ul class="menu-horizontal">
                            {% for link in site.menus.header %}
                                <li class="{% if url == link.url %}current{% endif %}">
                                    <a href="{{ link.url | absolute_url }}"{% if link.target %} target="_blank" {% endif %}>
                                      {{ link.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--end module-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <!--end bar-->
</div>
