<div class="article__share text-center">
    <a class="btn bg--facebook btn--icon" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
        <span class="btn__text">
            <i class="socicon socicon-facebook"></i>
            Share on Facebook
        </span>
    </a>
    <a class="btn bg--twitter btn--icon" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" target="_blank">
        <span class="btn__text">
            <i class="socicon socicon-twitter"></i>
            Share on Twitter
        </span>
    </a>
</div>
