/**! 02. Typography **/
hr {
  border-color: rgba(223, 144, 43, 0.4);
}

body {
  color: #fdf9e3;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.menu-horizontal > li > a, .menu-horizontal > li > span,
.menu-horizontal > li > .modal-instance > .modal-trigger,
.bar--transparent:not(.bar--dark):not(.pos-fixed) .menu-horizontal > li > a,
.bar--transparent:not(.bar--dark):not(.pos-fixed) .menu-horizontal > li > span {
  color: #df902b;
}

/**! 03. Position **/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

/**! 05. Images **/
.imagebg:not(.image--light) h2,
.imagebg:not(.image--light) h3,
.imagebg:not(.image--light) h4,
.imagebg:not(.image--light) h5,
.imagebg:not(.image--light) h6,
.imagebg:not(.image--light) p,
.imagebg:not(.image--light) ul,
.imagebg:not(.image--light) blockquote {
  color: #fdf9e3;
}

.imagebg:not(.image--light) h1 {
  color: #df902b;
}

/**! 06. Buttons **/
.btn--primary, .btn--primary:visited {
  background: #df902b;
  border-color: #df902b;
}

.btn--primary:hover {
  background: #8a540d;
  border-color: #8a540d;
}

/**! 10. Menus **/
.menu-horizontal > li.current {
  text-decoration: underline; 
}
.menu-horizontal > li:not(:hover) > a,
.menu-horizontal > li:not(:hover) > span,
.menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger {
  opacity: 1;
}
.menu-horizontal > li > a:hover {
  color: #a97c50;
}
/**! 17. Boxes **/
.boxed.boxed--border {
  border: 0.5px solid rgba(223, 144, 43, 0.4);
}

/**! 26. Colors **/
body {
  background: #000;
}

a {
  color: #fdf9e3;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}

a:hover {
  color: #794809;
}

.bg--dark {
  background: #3c2415;
}

/**! 34. Bars **/
.bar .logo {
  top: 0;
}

.bar .menu-horizontal {
  top: 0;
}

.bar--transparent:not(.bar--dark) .logo-dark {
  display: none;
}

@media all and (max-width: 767px) {
  .bar.bar--mobile-sticky[data-scroll-class*='fixed'].pos-fixed {
    position: fixed;
    width: 100%;
    background: black;
    z-index: 999;
  }
  .bar.bar--mobile-sticky[data-scroll-class*='fixed'] + .bar.pos-fixed {
    top: calc(3.71428571em * 1.5);
    position: fixed;
    width: 100%;
    background: black;
    z-index: 999;
  }
}

@media all and (min-width: 768px) {
  .bar__module:not(:only-child) {
    display: inline-block;
  }
  .bar__module:not(:last-child) {
    margin-right: 0.92857143em;
  }
  .bar--transparent:not(.bar--dark) {
    background: none;
  }
  .bar--transparent:not(.bar--dark) .logo-dark {
    display: none;
  }
  .bar--transparent:not(.bar--dark) .logo-light {
    display: inline-block;
  }
  .bar--transparent:not(.bar--dark):not(.pos-fixed) .menu-horizontal > li > a,
  .bar--transparent:not(.bar--dark):not(.pos-fixed) .menu-horizontal > li > span {
    color: #fff;
  }
  .bar--transparent:not(.bar--dark):not(.pos-fixed) .btn:not([class*='primary']) {
    border-color: rgba(255, 255, 255, 0.3);
  }
  .bar--transparent:not(.bar--dark):not(.pos-fixed) .btn:not([class*='primary']) .btn__text {
    color: #fff;
  }
  .bar--transparent:not(.bar--dark):not(.pos-fixed) .btn:not([class*='primary']):hover {
    border-color: rgba(255, 255, 255, 0.7);
  }
  .bar--absolute {
    position: absolute;
  }
  .bar--absolute,
  .pos-fixed {
    z-index: 99;
    width: 100%;
  }
  .bar.pos-fixed {
    position: fixed;
    top: 0;
    animation: fadeInDown 0.3s ease-out forwards;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
  }
  .bar.pos-fixed:not([class*='bg-']) {
    background: black;
  }
  .bar.pos-fixed:not([class*='bg-']) .logo-dark {
    display: inline-block;
  }
  .bar.pos-fixed:not([class*='bg-']) .logo-light {
    display: none;
  }
  .bar.pos-fixed.bg--dark {
    background: #252525;
  }
  .home .bar {
    display: none;
  }
  .home .bar.pos-fixed {
    display: block;
  }
}

/*! -- Stack Typography -- */
.lead {
  color: #fdf9e3;
}

/*! -- Stack Bars -- */
.hamburger-toggle i {
  color: #df902b;
}
.bar .logo {
  max-height: calc(1.85714286em * 2);
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .bar-2 .bar__module,
  .bar-1 .bar__module {
    margin-bottom: 0;
  }
}
@media all and (min-width: 990px) {
  .menu-horizontal li:not(:last-child) {
    margin-right: calc(1.23809524em * 3);
  }
}

/*! -- Stack Blog -- */
article .article__body p,
article .article__body ul {
  font-size: 1em;
  color: #fdf9e3;
}
.masonry-blog-list article {
  border-bottom: 1px solid rgba(223, 144, 43, 0.4);
}
.pagination ol li {
  border: 1px solid rgba(223, 144, 43, 0.4);
}
.pagination ol li.pagination__current {
  background: rgba(223, 144, 43, 0.4);
  color: #aaa;
}
@media all and (min-width: 991px) {
  .sidebar {
    margin-top: calc(18px);
  }
}

/*! -- Stack Links -- */
a:hover {
  text-decoration: none;
}

.imagebg:not(.image--light) a {
  color: #fdf9e3;
}

.imagebg:not(.image--light) a:hover {
  color: #a97c50;
}

/*! -- Stack Sliders -- */
.slider.boxed--border .slides li {
  border: none;
}

/*! -- Stack Cards -- */
.card-2 .card__body,
.card-2 .card__bottom {
  border: 1px solid rgba(223, 144, 43, 0.4);
}

.gallery .card-2 .card__body {
  border-top: none;
}

/*! -- Stack Features Small -- */
.feature__body.boxed.boxed--border {
  border-top: none;
}

/*! -- Stack Bars -- */
.menu-horizontal > li > a,
.menu-horizontal > li > .modal-instance > a {
  font-weight: 600;
}

/*! -- Sliders Flickity -- */
@media all and (max-width: 767px) {
  section.slider[class*='height-'] .slides .flickity-slider > li {
    height: 100vh;
  }
}

/*! -- Stack Covers -- */
.home-slider-text {
  top: 50%;
  transform: translateY(-50%);
}

img.cover-logo {
  width: 50%;
}

@media all and (max-width: 767px) {
  .home-slider-text {
    top: 40%;
    transform: translateY(-40%);
  }

  img.cover-logo {
    margin-bottom: 4.1785714335em;
    width: 75%;
  }

  .cover.fullscreen-on-mobile {
    min-height: 100vh;
  }
}

/*! -- Stack Masonry -- */
.masonry__item:not(:empty) {
  margin-bottom: 40px;
}
.masonry-filter-holder:not(.masonry-filters--horizontal) .masonry__filters {
  background: black;
  border: 1px solid rgba(223, 144, 43, 0.4);
}
.masonry-filter-holder:not(.masonry-filters--horizontal) .masonry__filters ul li.active {
  color: #df902b;
}
.masonry-filter-holder:not(.masonry-filters--horizontal) .masonry__filters ul li:hover {
  color: #df902b;
}


/*! -- Stack Images -- */
.post img:last-child {
  margin-bottom: 1.85714286em;
}

/*! -- Helper Classes -- */
.page-content {
  padding-top: 2.78571429em;
}

/*! -- About Page -- */
.page-content p:first-of-type {
  color: #df902b;
  font-size: 2.35714286em;
  font-weight: 300;
  line-height: 1.36363636em;
}
.page-content p:first-of-type:before,
.page-content p:first-of-type:after {
  content: '"';
}
@media all and (max-width: 767px) {
  h2,
  .h2 {
    font-size: 1.78571429em;
    line-height: 1.5em;
  }
}
