/**! 02. Typography **/
hr {
  border-color: rgba(223, 144, 43, 0.4);
}

body {
  color: #fdf9e3;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.menu-horizontal > li > a, .menu-horizontal > li > span,
.menu-horizontal > li > .modal-instance > .modal-trigger,
.bar--transparent:not(.bar--dark):not(.pos-fixed) .menu-horizontal > li > a,
.bar--transparent:not(.bar--dark):not(.pos-fixed) .menu-horizontal > li > span {
  color: #df902b;
}

/**! 03. Position **/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

/**! 05. Images **/
.imagebg:not(.image--light) h2,
.imagebg:not(.image--light) h3,
.imagebg:not(.image--light) h4,
.imagebg:not(.image--light) h5,
.imagebg:not(.image--light) h6,
.imagebg:not(.image--light) p,
.imagebg:not(.image--light) ul,
.imagebg:not(.image--light) blockquote {
  color: #fdf9e3;
}

.imagebg:not(.image--light) h1 {
  color: #df902b;
}

/**! 06. Buttons **/
.btn--primary, .btn--primary:visited {
  background: #df902b;
  border-color: #df902b;
}

.btn--primary:hover {
  background: #8a540d;
  border-color: #8a540d;
}

/**! 17. Boxes **/
.boxed.boxed--border {
  border: 0.5px solid rgba(223, 144, 43, 0.4);
}

/**! 26. Colors **/
body {
  background: #000;
}

a {
  color: #fdf9e3;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}

a:hover {
  color: #794809;
}

.bg--dark {
  background: #3c2415;
}

/**! 34. Bars **/
.bar .logo {
  top: 0;
}

.bar .menu-horizontal {
  top: 0;
}

.bar--transparent:not(.bar--dark) .logo-dark {
  display: none;
}

@media all and (min-width: 991px) {
  .home .bar {
    display: none;
  }

  .bar.pos-fixed:not([class*='bg-']) {
    background: black;
  }

  .home .bar.pos-fixed {
    display: block;
  }
}

/*! -- Stack Typography -- */
.lead {
  color: #fdf9e3;
}

/*! -- Stack Bars -- */
.bar .logo {
  max-height: calc(1.85714286em * 2);
}

/*! -- Stack Blog -- */
article .article__body p,
article .article__body ul {
  color: #fdf9e3;
}

.masonry-blog-list article {
  border-bottom: 1px solid rgba(223, 144, 43, 0.4);
}

/*! -- Stack Links -- */
a:hover {
  text-decoration: none;
}

.imagebg:not(.image--light) a {
  color: #fdf9e3;
}

.imagebg:not(.image--light) a:hover {
  color: #a97c50;
}

/*! -- Stack Sliders -- */
.slider.boxed--border .slides li {
  border: none;
}

/*! -- Stack Cards -- */
.card-2 .card__body,
.card-2 .card__bottom {
  border: 1px solid rgba(223, 144, 43, 0.4);
}

.gallery .card-2 .card__body {
  border-top: none;
}

/*! -- Stack Features Small -- */
.feature__body.boxed.boxed--border {
  border-top: none;
}

/*! -- Stack Bars -- */
.menu-horizontal > li > a,
.menu-horizontal > li > .modal-instance > a {
  font-weight: 600;
}

/*! -- Sliders Flickity -- */
@media all and (max-width: 767px) {
  section.slider[class*='height-'] .slides .flickity-slider > li {
    height: 100vh;
  }
}

/*! -- Stack Covers -- */
.home-slider-text {
  top: 50%;
  transform: translateY(-50%);
}

img.cover-logo {
  width: 50%;
}

@media all and (max-width: 767px) {
  .home-slider-text {
    top: 40%;
    transform: translateY(-40%);
  }

  img.cover-logo {
    margin-bottom: 4.1785714335em;
    width: 75%;
  }

  .cover.fullscreen-on-mobile {
    min-height: 100vh;
  }
}

/*! -- Stack Masonry -- */
.masonry__item:not(:empty) {
  margin-bottom: 40px;
}
