---
layout: default
---

<section class="space--xxs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ page.title }}</h1>
                <ol class="breadcrumbs">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/artifacts">Artifacts</a>
                    </li>
                    <li>{{ page.title }}</li>
                </ol>
                <hr>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="space--xxs">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-7 col-lg-6">
                <div class="slider border--round boxed--border" data-paging="true" data-arrows="true">
                    <ul class="slides">
                        {% for image in page.images %}
                            <li>
                                <img alt="Image" src="{{ image }}" data-zoom="{{ image }}" />
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--end slider-->
            </div>
            <div class="col-md-5 col-lg-6 artifact-information">
                <h2>{{ page.title }}</h2>
                <p>
                    {{ page.description }}
                </p>
                <ul class="accordion accordion-2">
                    {% if page.origin != '' %}
                        <li class="active">
                            <div class="accordion__title">
                                <span class="h5">Origin</span>
                            </div>
                            <div class="accordion__content">
                                <p>{{ page.origin }}</p>
                            </div>
                        </li>
                    {% endif %}
                    {% if page.dimensions != '' %}
                        <li class="active">
                            <div class="accordion__title">
                                <span class="h5">Dimensions</span>
                            </div>
                            <div class="accordion__content">
                                {{ page.dimensions }}
                            </div>
                        </li>
                    {% endif %}
                </ul>
                <!--end accordion-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
