---
layout: default
---

<section class="text-center ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-12">
                <h3>
                  {{ page.postal_address }}
                </h3>
                <p class="lead">
                    E:
                    <a href="mailto:{{ page.email_address }}">{{ page.email_address }}</a>
                    <br /> P: <a href="tel:{{ page.contact_number }}">{{ page.contact_number }}</a>
                </p>
                {{ page.content | markdownify }}
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
