---
layout: default
---

<section class="cover height-90 imagebg text-center" data-overlay="2" id="home">
    <div class="background-image-holder">
        <img alt="background" src="img/landing-10.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-8">
                <img alt="Image" class="unmarg--bottom" src="img/headline-1.png" />
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col">
                <a href="/about">About</a>
            </div>
            <div class="col">
                <a href="#">Gallery</a>
            </div>
            <div class="col">
                <a href="#">Contact</a>
            </div>
            <div class="col">
                <a href="#">Blog</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="cover unpad--bottom switchable switchable--switch bg--secondary text-center-xs">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-md-6 col-lg-5 mt-0">
                <h1>
                    Streamline your workflow with Stack
                </h1>
                <p class="lead">
                    Build lean, beautiful websites with a clean and contemporary look to suit a range of purposes
                </p>
                <a class="btn btn--primary type--uppercase" href="#">
                    <span class="btn__text">
                        Try Builder Live
                    </span>
                </a>
            </div>
            <div class="col-md-6">
                <img alt="Image" src="img/avatar-large-3.png" />
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <h2>All the tools you'll need</h2>
                <p class="lead">
                    Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="space--sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12">
                <div class="boxed bg--secondary">
                    <div class="pos-vertical-center">
                        <h3>Valuable business insight delivered direct to your inbox</h3>
                        <p>Join over 20,000 other designers</p>
                    </div>
                </div>
            </div>
            <!--end item-->
            <div class="col-md-4 col-12">
                <a class="block" href="#">
                    <article class="imagebg border--round" data-scrim-bottom="8">
                        <div class="background-image-holder">
                            <img alt="background" src="img/blog-3.jpg" />
                        </div>
                        <div class="article__title">
                            <span>May 12th 2016</span>
                            <h4>Small businesses that expertly leverage their online followings</h4>
                        </div>
                    </article>
                </a>
            </div>
            <!--end item-->
            <div class="col-md-4 col-12">
                <a class="block" href="#">
                    <article class="imagebg border--round" data-scrim-bottom="8">
                        <div class="background-image-holder">
                            <img alt="background" src="img/blog-4.jpg" />
                        </div>
                        <div class="article__title">
                            <span>May 9th 2016</span>
                            <h4>Designing efficiently in the age of distraction</h4>
                        </div>
                    </article>
                </a>
            </div>
            <!--end item-->
            <div class="col-md-4 col-12">
                <a class="block" href="#">
                    <article class="imagebg border--round" data-scrim-bottom="8">
                        <div class="background-image-holder">
                            <img alt="background" src="img/blog-4.jpg" />
                        </div>
                        <div class="article__title">
                            <span>May 9th 2016</span>
                            <h4>Designing efficiently in the age of distraction</h4>
                        </div>
                    </article>
                </a>
            </div>
            <!--end item-->
            <div class="col-md-4 col-12">
                <a class="block" href="#">
                    <article class="imagebg border--round" data-scrim-bottom="8">
                        <div class="background-image-holder">
                            <img alt="background" src="img/blog-4.jpg" />
                        </div>
                        <div class="article__title">
                            <span>May 9th 2016</span>
                            <h4>Designing efficiently in the age of distraction</h4>
                        </div>
                    </article>
                </a>
            </div>
            <!--end item-->
        </div>
        <!--end masonry container-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h2>All the tools you'll need</h2>
                <p class="lead">
                    Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="masonry">
                    <div class="masonry__container row">
                        <div class="masonry__item col-lg-4 col-md-6"></div>
                        <div class="masonry__item col-lg-4 col-md-6" data-masonry-filter="Marketing">
                            <article class="feature feature-1">
                                <a href="#" class="block">
                                    <img alt="Image" src="img/blog-2.jpg" />
                                </a>
                                <div class="feature__body boxed boxed--border">
                                    <span>May 25th 2016</span>
                                    <h5>A day in the life of a professional fitness blogger</h5>
                                    <a href="#">
                                        Read More
                                    </a>
                                </div>
                            </article>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-4 col-md-6" data-masonry-filter="Marketing">
                            <article class="feature feature-1">
                                <a href="#" class="block">
                                    <img alt="Image" src="img/blog-3.jpg" />
                                </a>
                                <div class="feature__body boxed boxed--border">
                                    <span>May 25th 2016</span>
                                    <h5>Small businesses that expertly leverage their online followings</h5>
                                    <a href="#">
                                        Read More
                                    </a>
                                </div>
                            </article>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-4 col-md-6" data-masonry-filter="Design">
                            <article class="feature feature-1">
                                <a href="#" class="block">
                                    <img alt="Image" src="img/blog-4.jpg" />
                                </a>
                                <div class="feature__body boxed boxed--border">
                                    <span>May 25th 2016</span>
                                    <h5>Designing efficiently in the age of distraction</h5>
                                    <a href="#">
                                        Read More
                                    </a>
                                </div>
                            </article>
                        </div>
                        <!--end item-->
                    </div>
                    <!--end of masonry container-->
                </div>
                <!--end masonry-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
